@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
    @apply text-grey-900 bg-grey-100;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

button {
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
